.header {
	border: 8px double;
	border-color: #FCF3CF  ;
	color: #FAE5D3;
}

body {
	background-image: url(https://i.pinimg.com/564x/ba/22/db/ba22dba60b2ac973307ef9fd1ae8b6fe.jpg);
    background-attachment: fixed;
    font-family: serif;

}


